<%- include("partials/header")-%>
<h1><%=postTitle%></h1>
<p><%=postBody%></p>
<form class="" action="/delete" method="post">
  <div class="form-group">
    <button class="btn btn-primary " type="submit" name="button" value="<%=postTitle%>">Delete this post</button>
  </div>
</form>
<%- include("partials/footer")-%>
